/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

  :root {
    --menu-color: #FF0070;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --text-color: #000028;
    --bg-color: #FF0070;
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --content-title-color: #FF0070;
    --content-text-color: #F1B2CE;
    --rec-display: block;
    --menu-color-hover: rgba(255, 0, 112, 0.4);
  }